.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, .1);
  background-color: $color-white;
  border-radius: .3rem;
  padding: 6rem;
  font-size: $default-font-size;

  &__shape {
    width: 15rem;
    height: 15rem;
    background-color: orangered;
    float: left;
    // radius - and position. The element needs to be floated and have defined dimensions.
    // Makes the text flow around the circle.
    -webkit-shape-outside: circle(50%);
    shape-outside: circle(50%);

    // Draw the actual circle
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
  }
}